<%= stylesheet_link_tag "shopping", "data-turbo-track": "reload" %>
<a href='/' class="home-link"> 
  <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Tokyoship_Home_icon.svg" alt="home-link" width="50px" />
</a>
<h1 class="title">Shopping List </h1>
<div class= "general-inf">
  <p>Amount of food items to buy: <%= @amount_item %> </p>
  <p>Total value of food needed: <%= @total_value %></p>
</div>
<table>
  <thead>
    <tr>
      <th>Food </th>
      <th>Quantity </th>
      <th>Price </th>
    </tr>
  </thead
  <tbody>
    <% (0...@amount_item).each do |i| %>
      <tr>
        <td><%= @missing_foods[i].name %> </td>
        <td><%= @quantity[i] %> </td>
        <td><%= @prices[i] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>