<%= stylesheet_link_tag "recipe", "data-turbo-track": "reload" %>

<img class ="icone-recipe" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOWry5OIVtLKR-JVVI4cjFYMPJm5sSFNOF4w&usqp=CAU" />

<h1 class="recipe-title"> <%= @recipe.name %> </h1>
<div class="recip-general-info">
  <div class="recip-process">
    <p>Preparation time: <%= @recipe.preparation_time %> </p>
    <p>Cooking time: <%= @recipe.cooking_time %> </p>
    <p> Steps go here... </p>
  </div>
  <div class="public-state">
    <label for="public"> Public</label>
    <input type="range" name="public"  min=0 max=1 value=<%= @recipe.public %> disabled>
  </div>
</div>
<div class="generating-btn" >
  <%= button_to "Generate shopping list","/general_shopping_list" ,class:"btn btn-secondary", method: :get %>
  <%= button_to  "Add ingredient",new_user_food_path(user_id: current_user.id), class:"btn btn-secondary", method: :get %>
</div>
<hr/>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity </th>
      <th>Value </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Food</th>
      <th>Quantity </th>
      <th>Value </th>
      <th>Actions</th>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
</table>

